@use "../../styles/variables" as *;

.work {
  padding: 6rem 1.5rem;

  &__container {
    margin: 0 auto;
  }

  &__title {
    text-align: left;
    font-size: clamp(1.5rem, 3vw, 2.25rem);
    margin-bottom: 0;
    color: $accent;
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }

  &__card-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 20px;
    margin-bottom: -40px;
  }

  &__card {
    font-size: 164;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    background: $card;
    transform-origin: "10% 60%";
    @media (max-width: 768px) {
      width: 200px;
      height: 350px;
    }
  }

  &__icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  &__desc {
    font-size: 1rem;
    line-height: 1.6;
  }
}
