@use "./variables" as *;

main {
  margin: 70px auto;
  max-width: 1080px;
}

.footer {
  text-align: center;
  padding: 2rem 1rem;
  background: $header;
  font-size: 0.9rem;
}

.app {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}